@model FrancoHotel.WedApi.Models.GetRecepcionModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RecepcionModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <input asp-for="IdCliente" class="form-control" />
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHabitacion" class="control-label"></label>
                <input asp-for="IdHabitacion" class="form-control" />
                <span asp-validation-for="IdHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEntrada" class="control-label"></label>
                <input asp-for="FechaEntrada" class="form-control" />
                <span asp-validation-for="FechaEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioInicial" class="control-label"></label>
                <input asp-for="PrecioInicial" class="form-control" />
                <span asp-validation-for="PrecioInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adelanto" class="control-label"></label>
                <input asp-for="Adelanto" class="form-control" />
                <span asp-validation-for="Adelanto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioRestante" class="control-label"></label>
                <input asp-for="PrecioRestante" class="form-control" />
                <span asp-validation-for="PrecioRestante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPagado" class="control-label"></label>
                <input asp-for="TotalPagado" class="form-control" />
                <span asp-validation-for="TotalPagado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoPenalidad" class="control-label"></label>
                <input asp-for="CostoPenalidad" class="form-control" />
                <span asp-validation-for="CostoPenalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacion" class="control-label"></label>
                <input asp-for="Observacion" class="form-control" />
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadPersonas" class="control-label"></label>
                <input asp-for="CantidadPersonas" class="form-control" />
                <span asp-validation-for="CantidadPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdServicioPorCategoria" class="control-label"></label>
                <input asp-for="IdServicioPorCategoria" class="form-control" />
                <span asp-validation-for="IdServicioPorCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioServiciosExtra" class="control-label"></label>
                <input asp-for="PrecioServiciosExtra" class="form-control" />
                <span asp-validation-for="PrecioServiciosExtra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalidaConfirmacion" class="control-label"></label>
                <input asp-for="FechaSalidaConfirmacion" class="form-control" />
                <span asp-validation-for="FechaSalidaConfirmacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
